.card {
  max-width: 360px;
  display: flex;
  gap: 16px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  &-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &-title {
    font-weight: 500;
  }
}
